<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizzas made real!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {% load static %}
</head>
<body>
    {% block title %}{% endblock title %}

    <hr>

    <div class="container">
        {% block content %}{% endblock content %}
    </div>
    
    <script src="{% static 'js/jquery.js' %}"></script>
    {% block javascript %}{% endblock javascript %}
</html>