{% extends "base.html" %}

{% block title %}
    <h1>We have this Pizzas friend!</h1>
{% endblock title %}

{% block content %}

<a href="{% url 'list_pizzas' %}">Pizzas!!!</a>

<br>

<div class="col-12 justify-content-center mt-5">
    <form action="{% url 'create_pizza' %}" method="post" class="form-inline"> {% csrf_token %}
        <div class="form-group mb-2">
            <label for="create_pizza_title" class="mx-2">Name of Pizza:</label>
            <input type="text" placeholder="Name of your pizza here." id="create_pizza_title" name="create_pizza_title" class="mx-2 form-control">
            <button type="submit" class="btn btn-outline-success mx-2">Create!</button>
        </div>
    </form>
</div>

{% endblock content %}

{% block javascript %}
{% endblock javascript %}