{% extends "base.html" %}
{% load static %}

{% block title %}
    <h1>We have this Pizzas friend!</h1>
{% endblock title %}

{% block content %}

<a href="{% url 'create_pizza' %}">Cook pizza!</a>

<br>

<div id="notifications">
    {% if notifications %}
        {% for notification in notifications %}
            <div class="card my-2 col-12 justify-content-center bg-light" id="{{ notification.id }}"> 
                {% csrf_token %}
                <div class="card-body">
                    <b>{{ notification.message }}</b> - {{ notification.status }}
                    <button type="button" class="close float-right" onclick="read({{ notification.id }})">
                        <span name="update" value="{{ notification.id }}">&times;</span>
                    </button>
                </div>
            </div>
        {% endfor %}
    {% endif %}
</div>

{% endblock content %}

{% block javascript %}
    <script src="{% static 'js/notify.js' %}"></script>
{% endblock javascript %}